doctype html
html

  head
    title= title
    meta(name="description" content=`${description}`)
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@300;400;500&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
    link(rel="icon" href="/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#a6acaf")
    meta(name="msapplication-TileColor" content="#282c34")
    meta(name="theme-color" content="#ffffff")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //- Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-138238165-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-138238165-1');

  body(class=`${id}`)

    header
      include components/layout/header
      
    main
      block content

    include components/layout/contact-modal

    footer
      include components/layout/footer
      
    script(src="/js/main.js")
    script(src="https://apps.elfsight.com/p/platform.js" defer)
    script(src="https://www.google.com/recaptcha/api.js?render=6LfjsnEaAAAAAPLuAKp7VOZhwgk8e_8meFMvUZLT")

    script.
      grecaptcha.ready(function () {
        grecaptcha
          .execute('6LfjsnEaAAAAAPLuAKp7VOZhwgk8e_8meFMvUZLT', {
            action: 'submit',
          })
          .then(function (token) {
            document.getElementById('g-recaptcha-response').value = token;
          });
      });
